/* Styles existants */
label {
    text-align: center;
}
.terminer {
    text-decoration: line-through;
}
.ui-content div[data-role=header] {
    border-radius: 20px;
}

/* Nouveau style pour les boutons avec des coins arrondis */
.ui-btn, .ui-btn.ui-btn-b, .ui-btn.ui-btn-inline {
    border-radius: 20px !important; /* Ajustez la valeur pour obtenir le degré d'arrondi souhaité */
    background-color: #ff4494  !important; /* Conserve la couleur de fond rose */
    color: black !important; /* Assure que le texte reste visible */
    border: none !important; /* Enlève les bordures par défaut si présentes */


}